
body {
	background-color: ;
}

.header {
	background-color: #F0FF33;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.instructions {
	background-color: #F9FFAB;
	margin: 10px;
	padding: 10px;
	text-align: center;
}


